<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', { title: 'Login' }); %>
<body>
	<div class="container">
		<h2>Formulario de Logeo</h2>
		<form action="/login" method="POST">
			<div>
				<label>Email:</label>
				<input type="email" name="email" placeholder="Ej: email@server.com">
			</div>
			<div>
				<label>Contraseña:</label>
				<input type="password" name="password" placeholder="******">
			</div>
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>