<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> - Sistema de Registro y Login</title>
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>
